.appbar {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100vw;
  padding: 2rem 4rem;
}

.logo {
  position: relative;
  width: 50px;
  height: fit-content;
}

.appbar .right {
  min-width: 10vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  float: right;
  column-gap: 4rem;
}

.appbar .left {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
}

.navigation {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  column-gap: 4rem;
}

.navigation .li {
  border-radius: var(--border-radius);
  font-weight: 600;
  padding: 0.5rem;
  cursor: pointer;
}

.navigation .li:hover {
  border: 1px solid;
  border-radius: var(--border-radius);
}

.navigation .li .active {
  border: 1px solid;
  border-radius: var(--border-radius);
}

.main {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 4rem;
  width: 100%;
}

.sidebar {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 1rem;
  padding-top: 4rem;
  min-width: fit-content;
}

.grid {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
}

.card {
  padding: 1rem 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid;
  overflow: hidden;
}

.cardheader {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 2rem;
  width: 100%;
}

.cardbody {
  overflow: hidden;
}

.animate__animated .animate__bounce {
  --animate-duration: 2s;
}

.card:hover {
  animation: shake 500ms ease-in-out forwards;
}

.card span,
.card p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card h2 {
  font-weight: 600;
  padding-bottom: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form {
  display: inline-flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.searchForm {
  width: 50%;
}

.formfield {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 1rem;
  border: 1px solid;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
}

.input {
  font-size: large;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
}

.input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}
.input::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}
.input::placeholder {
  color: var(--placeholder-color);
}

.submitButton {
  padding: 0.5rem;
  min-width: 150px;
  border: 1px solid;
  font-weight: var(--button-weight);
  border-radius: var(--border-radius);
  font-family: var(--font);
  font-size: var(--font-size);
  height: var(--height);
  letter-spacing: var(--letter-spacing);
}

.searchButton {
  border: none;
  outline: none;
}

.grid {
  display: grid;
  max-width: 70%;
  padding: 1rem 2rem 2rem 2rem;
  gap: 1.5rem;
}

.utilities {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: inline-flex;
  column-gap: 2rem;
}

.editButton {
  padding: 0.5rem;
  min-width: 100px;
  border: none;
  border-radius: var(--border-radius);
  font-weight: var(--button-weight);
  font-family: var(--font);
  font-size: var(--font-size);
  height: var(--height);
  letter-spacing: var(--letter-spacing);
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .input {
    width: 80%;
    display: inline-flex;
    align-self: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .input {
    width: 80%;
    display: inline-flex;
    align-self: center;
  }
}
